<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Logan's Calculator</title>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <header class='speaker-form-header'>
		
    </header>
	<form action='' method='post' class='speaker-form'>
		<div class='form-row'>
		  <label for='first-value'>First Value:</label>
		  <input id='first-value' name='first-value' type='text'/>
		  <label for='second-value'>Second Value:</label>
		  <input id='second-value' name='second-value' type='text'/>
		</div>
		<div class='operators'>
		  <legend>Operator:</legend>
		  <input id='add'
				 name='operator'
				 type='radio'
				 value='add' />
		  <label for='add' class='operators'>Add (+)</label></br>
		  <input id='subtract'
				 name='operator'
				 type='radio'
				 value='subtract' />
		  <label for='subtract' class='operators'>Subtract (-)</label></br>
		  <input id='multiply'
				 name='operator'
				 type='radio'
				 value='multiply' />
		  <label for='multiply' class='operators'>Multiply (*)</label></br>
		  <input id='divide'
				 name='operator'
				 type='radio'
				 value='divide'
				 checked />
		  <label for='divide' class='operators'>Divide (/)</label>
		</div></br>
		<div class='calculate'>
		  <button>Calculate!</button>
		</div></br>
		  @{
			  if  (IsPost){
			  int first = Convert.ToInt32(Request["first-value"]);
			  int second = Convert.ToInt32(Request["second-value"]);
				if(add.Checked){
					int answer = Convert.ToInt32(first+second);
				} else if(subtract.Checked){
					int answer = Convert.ToInt32(first-second);
				} else if(multiply.Checked){
					int answer = Convert.ToInt32(first*second);
				} else{
					int answer = Convert.ToInt32(first/second);
				}
			  <p>Answer: @answer</p>
			  }
			}
	</form>
  </body>
</html>